{% extends "base.html" %}

{% block head_content %}
    <title>Crear Empresa</title>
{% endblock%}

{% block container %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <h4 class="mb-4">Crea Empresa!</h4>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {# company_name field #}
                    <div class="form-group">
                        <input
                            class="form-control {% if form.company_name.errors %}is-invalid{% endif %}"
                            type="text"
                            name="company_name"
                            placeholder="Nombre de la empresa"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.company_name.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# address field #}
                    <div class="form-group">
                        <input
                            class="form-control {% if form.address.errors %}is-invalid{% endif %}"
                            type="text"
                            name="address"
                            placeholder="Dirección de la empresa"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.address.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# phone_number field #}
                    <div class="form-group">
                        <input
                            class="form-control {% if form.phone_number.errors %}is-invalid{% endif %}"
                            type="text"
                            name="phone_number"
                            placeholder="Teléfono"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.phone_number.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# city field #}
                    <div class="form-group">
                        <input
                            class="form-control {% if form.city.errors %}is-invalid{% endif %}"
                            type="text"
                            name="city"
                            placeholder="Ciudad"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.city.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# state field #}
                    <div class="form-group">
                        <input
                            class="form-control {% if form.state.errors %}is-invalid{% endif %}"
                            type="text"
                            name="state"
                            placeholder="Departamente/Estado"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.state.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# pais field #}
                    <div class="form-group">
                        <input
                            class="form-control {% if form.pais.errors %}is-invalid{% endif %}"
                            type="text"
                            name="pais"
                            placeholder="Pais"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.pais.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary btn-block mt-5">Crear!</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}