{% extends "base.html" %}

{% block head_content %}
    <title>Crear Producto</title>
{% endblock%}

{% block container %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <h4 class="mb-4">Crear Producto!</h4>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {# product_name field #}
                    <div class="form-group">
                        <input
                            class="form-control {% if form.product_name.errors %}is-invalid{% endif %}"
                            type="text"
                            name="product_name"
                            placeholder="Nombre del producto"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.product_name.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# sales_price field #}
                    <div class="form-group">
                        <input
                            class="form-control {% if form.sales_price.errors %}is-invalid{% endif %}"
                            type="text"
                            name="sales_price"
                            placeholder="Precio de venta"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.sales_price.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# buy_price field #}
                    <div class="form-group">
                        <input
                            class="form-control {% if form.buy_price.errors %}is-invalid{% endif %}"
                            type="text"
                            name="buy_price"
                            placeholder="Precio de compra"
                        >
                        <div class="invalid-feedback">
                            {% for error in form.buy_price.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    {# company field #}
                    <div class="form-group">
                        <select
                            class="form-control {% if form.company.errors %}is-invalid{% endif %}"
                            type="text"
                            name="company"
                            placeholder="Empresa al que pertenece"
                        >
                            <option value="1">Elversote</option>
                        </select>
                    </div>

                    


                    <button type="submit" class="btn btn-primary btn-block mt-5">Crear!</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}