{% extends "base.html" %}

{% block head_content %}
    <title>Mi Empresa</title>
{% endblock%}

{% block container %}
    <div class="container">
     
                    <!-- DataTables Example -->
                <div class="card mb-3">
                  <div class="card-header">
                    <i class="fas fa-table"></i>
                    Productos</div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>

                          <tr>
                            
                            <th>Nombre Producto</th>
                            <th>Precio Venta</th>
                            <th>Precio Compra</th>
                            <th>Acción</th>
                          </tr>
                        
                        </thead>
                        <tfoot>
                          <tr>
                            
                            <th>Nombre Producto</th>
                            <th>Precio Venta</th>
                            <th>Precio Compra</th>
                            <th>Acción</th>
                          </tr>
                        </tfoot>
                        <tbody>
                        {% for product in products %}
                          <tr>
                            
                            <td>{{ product.product_name }}</td>
                            <td>{{ product.sales_price }}</td>
                            <td>{{ product.buy_price }}</td>
                            <td>Acción</td>
                          </tr>
                        {% endfor %}
        
                          
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            

    </div>
{% endblock %}