{% extends "base.html" %}

{% block head_content %}
    <title>Mi Empresa</title>
{% endblock%}

{% block container %}
    <div class="container">
     
                    <!-- DataTables Example -->
                <div class="card mb-3">
                  <div class="card-header">
                    <i class="fas fa-table"></i>
                    Empresas</div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>

                          <tr>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Ciudad</th>
                            <th>Estado</th>
                            <th>Pais</th>
                            <th>Acción</th>
                          </tr>
                        
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Ciudad</th>
                            <th>Estado</th>
                            <th>Pais</th>
                            <th>Acción</th>
                          </tr>
                        </tfoot>
                        <tbody>
                        {% for company in companies %}
                          <tr>
                            <td>{{ company.company_name }}</td>
                            <td>{{ company.address }}</td>
                            <td>{{ company.phone_number }}</td>
                            <td>{{ company.city }}</td>
                            <td>{{ company.state }}</td>
                            <td>{{ company.country }}</td>
                            <td>{{ company.country }}</td>
                          </tr>
                        {% endfor %}
        
                          
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            

    </div>
{% endblock %}